@model List<OrderProcessingSystem.Models.InventoryItemViewModel>
@inject IHtmlLocalizer<HomeController> localizer
@using Microsoft.AspNetCore.Mvc.Localization
@using OrderProcessingSystem.Web.Controllers
<div class="panel panel-danger widget">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-3">
                <i class="fa fa-tasks fa-3x"></i>
            </div>
            <div class="col-xs-9 text-right">
                <h3>@localizer["LowInventoryItem"]</h3>
            </div>
        </div>
    </div>
    <div class="widget-display">
        <table class="table table-fluid table-striped">
            <thead>
            <tr>
                <th>@localizer["Product"]</th>
                <th>@localizer["InventoryCount"]</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var inventoryItem in Model)
            {
                <tr>
                    <td>@inventoryItem.Name</td>
                    <td>
                        <a href="#" data-userid="3">@inventoryItem.Count</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>