@inject IHtmlLocalizer<HomeController> localizer
@using Microsoft.AspNetCore.Mvc.Localization
@using OrderProcessingSystem.Models
@using OrderProcessingSystem.Web.Controllers
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                @localizer["Welcome"] <br />
                <small>@localizer["SubItem"]</small>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>@localizer["Pending"]</h3>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        
                            @foreach (Order order in ViewBag.Orders)
                            {
                                <a href="#" class="list-group-item">
                                    <h4 class="list-group-item-heading">
                                        @order.Item.Name
                                        <span Last-updated="@order.LastUpdatedDTTM" class="pull-right">Last Updated: @order.LastUpdatedDTTM</span>
                                    </h4>
                                    <p class="list-group-item-text">
                                        @order.AdditionalNotes
                                    </p>
                                    <div class="progress">
                                        <progress-bar Percentage-complete="@order.OrderStage.PercentageComplete"></progress-bar>
                                    </div>

                                </a>
                            }
                    </div>
                </div>
                <div class="panel-footer">
                    <a class="pull-right btn btn-primary" href="#">See all</a> <br />
                    <span class="clearfix"></span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            
            <!-- Inventory Widget -->
            @await Component.InvokeAsync("InventoryWidget") 

            <!-- Item Servery Widget -->
            @await Component.InvokeAsync("ServeryWidget")

            <!-- Idea Widget -->
            @Html.Partial("_IdeaWidget")
        </div>
    </div>
</div>